.login-container {
  text-align: center;
  min-height: 100vh;
}

.login-buttons-container {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 80vw;
}

/* .login-button {
  width: 70vw;
} */

.login-form {
  width: 50%;
  padding: 12px 20px;
  margin: 8px auto;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
