.signup-container {
  text-align: center;
  min-height: 100vh;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
}
