/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid gold;
} */
body {
    background-color: #EDF1F9;
}
.Topics {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #EDF1F9;
    opacity: 1;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 20px Segoe UI;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: center;
    font: normal normal normal 20px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
}
.Topics>h1 {
    /* width: 300px; */
    margin: 6px 0;
}
.Topics>p {
    margin: 4px 0;
    padding: 3px;
}

@media (max-width: 600px) {
    .Topic {
        margin: 0 auto;
    }
 }